{% extends "base.html" %}

{% load course %}

{% block title %}
  {{ object.title }}
{% endblock  %}

{% block content %}
  {% with subject=object.subject %}
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10">
        <h2 class="mb-3">📘 {{ object.title }}</h2>

        <div class="d-flex flex-wrap gap-2 mb-4">
          <a href="{% url 'course_list_subject' subject.slug %}" class="badge text-bg-secondary text-decoration-none" title="Subject">
            🔀 {{ subject.title }}
          </a>
          <span class="badge text-bg-primary" title="Topics">📋 {{ object.modules.count }} topics</span>
          <span class="badge text-bg-dark" title="Teacher">👤 {{ object.owner.get_full_name }}</span>
        </div>

        <div class="card border-2">
          <div class="card-body">
            <h3 class="card-title mb-3 border-bottom">Course description</h3>
            <div class="card-text">{{ object.overview|markdown }}</div>
            {% if request.user.is_authenticated %}
              <h5 class="mb-3">📝 Course Enroll</h5>
              <form action="{% url 'student_enroll_course' %}" method="post">
                {% csrf_token %}
                {{ enroll_form|crispy }}
                <button type="submit" class="btn btn-primary">✅ Join course</button>
              </form>
            {% else %}
              <p class="text-muted mb-3">Register or log in to join course:</p>
              <a href="{% url 'student_registration' %}" class="btn btn-primary">👤 Register for enroll</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endwith %}
{% endblock  %}