{% extends "base.html" %}

{% load course %}

{% block title %}
    Topic {{ module.order|add:1 }}: {{ module.title }}
{% endblock title %}

{% block content %}
    {% with course=module.course %}
        <h2>
            Course "{{ course.title }}"
        </h2>
        <div class="row">
            <div class="col-3">
                <h3>
                    <a class="text-decoration-none" href="{% url "course_module_update" course.id %}">📋</a> Topics
                </h3>
                <ul class="list-group">
                    {% for m in course.modules.all %}
                        <li class="list-group-item {% if m == module %} active {% endif %}" data-id="{{ m.id }}" {% if m == module %} class="selected" {% endif %}>
                            {% if m == module %} ➡ {% endif %}
                            <a class="text-decoration-none" href="{% url "module_content_list" m.id %}">
                                <span>Topic {{ m.order|add:1 }}</span><br>
                                {{ m.title }}
                            </a>
                        </li>
                    {% empty %}
                        <li>No topics yet</li>
                    {% endfor %}
                </ul>
                <p class="mt-2">
                    <a class="text-decoration-none btn btn-outline-primary btn-sm" href="{% url "course_module_update" course.id %}">📋 Edit topics</a>
                </p>
            </div>
            <div class="col-9">
                <h3>Topic {{ module.order|add:1 }}: {{ module.title }}</h3>
                <hr>
                <p>Contents count: {{ module.contents.all.count }}</p>
                {% for content in module.contents.all %}
                    <div class="border border-1 p-2 mb-1 border border-1 border-secondary rounded d-flex justify-content-between align-items-center" data-id="{{ content.id }}">
                        {% with item=content.item %}
                            <p>{{ item }} ({{ item|model_name|capfirst }})</p>
                            <span class="d-flex gap-2">
                                <a class="btn btn-outline-secondary" href="{% url "module_content_update" module.id item|model_name item.id %}">✏️ Edit</a>
                                <form action="{% url "module_content_delete" content.id %}" class="text-decoration-none" method="post">
                                    {% csrf_token %}
                                    <input class="btn btn-outline-danger" type="submit" value="🗑️ Delete">
                                </form>
                            </span>
                        {% endwith %}
                    </div>
                {% empty %}
                    <p>No content yet</p>
                {% endfor %}
                <h4>Add: </h4>
                <ul class="list-group list-group-horizontal">
                    {% for content in content_types %}
                        <li class="list-group-item">
                            <a class="text-decoration-none" href="{% url "module_content_create" module.id content %}">{{ content|capfirst }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endwith %}
{% endblock content %}